*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Work Sans', sans-serif;
	text-align: center;

}

html{
	scroll-behavior: smooth;
} 
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-right:  auto;
	margin-left:   auto;

}

@media(min-width: 768px){
	.container{
		width: 750px; 
	}

}
@media(min-width: 992px){
	.container{
		width:970px;
	}	
}
@media(min-width: 1200px){
	.container{
		width:1170px;
	}
}


.containerForm{
	overflow-y: hidden;
}
.container section{
	width: 100%;
	
}
.container section form input
	{
	width:400px;
	max-width: 100%;
	padding:10px; 
	}